.wrapper {
    border: 1px solid red;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 225px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 40px;
    margin: 10px;

    .image {
        margin-bottom: 10px;

        img {
            width: 150px;
        }
    }

    .title {
        font: normal normal 600 18px/20px Apple SD Gothic Neo;

    }

    .price {

        font: normal normal 700 16px/33px Apple SD Gothic Neo;
        margin-bottom: 20px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input {
            height: 35px;
            border-radius: 10px;
            background-color: rgb(255, 195, 195);
            border: 0px;
            padding: 0px 10px;
            text-align: center;
        }
    }
}