.wrapper {
    padding: 20px;

    .title {
        font: normal normal bold 34px/52px Apple SD Gothic Neo;
    }

    .greeting {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
            width: 30px;
            height: 30px;
            margin: 0px 5px;
        }
    }

    .subjects {
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 10px;

        .subject {
            width: 110px;
            height: 110px;
            background-color: #9cd7dc;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .thisSubject {
            width: 110px;
            height: 110px;
            background-color: #42e0ee;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid black;
        }
    }

    .inputs {
        margin: 20px 0px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
            border-radius: 10px;
            height: 40px;
            padding-left: 10px;
        }

    }

    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}