.wrapper {
    height: 70px;
    background-color: rgb(194, 91, 168);
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: fixed;
}